{% extends 'blog/base.html' %}
{% block content %}
        <div class="table">
            <table border="4" width="100%" text-align="center">
              <tr>
                  <<th> 年月</th>
                  <<th> 空調使用量</th>
                  <<th> 電灯使用量</th>
              </tr>
      {% for i in posts %}
              <tr>
                  <<td> {{ i.nengetu }}</td>>
                  <<td> {{ i.dento }}</td>>
                  <<td> {{ i.kuchou }}</td>>
              </tr>
      {% endfor %}
            </table>
        </div>

            <!-- personのfirst_name,last_nameをそれぞれ表示  -->


{% endblock %}
