{% extends 'blog/base.html' %}
{% block content %}
        <div class="post">
            <table border="5" width="50%">
              <tr>
                  <<th> 年月</th>
                  <<th> 空調使用量</th>
                  <<th> 電灯使用量</th>
              </tr>
      {% for posts in posts %}
              <tr>
                  <td {{ posts.title }}</td>>
                  <td {{ posts.nengetu }}</td>>
                  <td {{ posts.dento }}</td>>
                  <td {{ posts.kuchou }}</td>>
                    <<td> てすと</td>>
              </tr>
      {% endfor %}
            </table>
            <div class="date">
                {{ post.published_date }}
            </div>
        </div>

{% endblock %}
